<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" autocomplete="off">
    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>      
    <ion-item>
      <ion-label position="floating">Matricula</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>      
    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>      
    <ion-item>
      <ion-label position="floating">Grupo</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>      
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>      
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>  
    <ion-button class="ion-margin-top ion-margin-horizontal" expand="block">
      Guardar
    </ion-button>    
  </form>
</ion-content>
