<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Taller 1
        </ion-label>
      </ion-item-divider>
  
      <ion-item *ngFor="let i of data; let index = index" lines="none">
        <ion-label>Alumno {{index + 1}}</ion-label>
          <ion-button color="warning" class="ion-margin-end"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Taller 2
        </ion-label>
      </ion-item-divider>
  
      <ion-item *ngFor="let i of data; let index = index">
        <ion-label>Alumno {{index + 1}}</ion-label>
        <ion-button color="warning" class="ion-margin-end" [routerLink]="['/edit-user/', index + 1]" ><ion-icon name="pencil-outline"></ion-icon></ion-button>
          <ion-button color="danger" (click)="eliminar(index + 1);"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
