/* Paleta de colores */

$color1: #010507;
$color2: #121a1c;
$color3: #373438;
$color4: #595d60;
$color5: #8c968b;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: $color4;
    // background: rgb(64,64,64);
    // background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(103,103,103,1) 50%, rgba(68,68,68,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    .container__form {
        padding: 1.5rem 2rem;
    }

    h1 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .container__form--input {
        position: relative;
        margin-bottom: 2.8rem;
    }

    .container__form--alert {
        color: #fff;
        font-size: 12px;
    }

    input{
        width: 100%;
        background: none;
        border: none;
        outline: none;
        border-bottom: 1px solid #cfcfcf;
        color: #fff;
    }

    button {
        width: 100%;
        padding: 1rem 1.5rem;
        font-weight: 400;
        font-size: 18px;
        outline: none;
        color: #fff;
        border: none;
        background-color: $color2;
    }

    label {
        color: #cfcfcf;
        position: absolute;
        top: -5px;
        left: 5px;
        transform: translateY(7px);
        transition: transform .5s, color .3s;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        transform: translateY(-12px) scale(.8);
        transform-origin: left top;
        color: #fff;
    }

    input:focus,
    input:not(:placeholder-shown) {
        border-bottom: 1px solid #fff;
    }

    .container__form--forgot {
        text-align: center;
        margin-bottom: 1rem;
    }

    .container__form--forgot a{
        color: #eee;
        text-decoration: none;
    }

}