<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form autocomplete="off">
      <img class="container__img" src="../assets/img/recover.svg">
      <label for="email">Ingresa tu correo y te enviaremos un código para restrablecer tu contraseña</label>
      <input type="email" id="email" placeholder="Tu correo">
      <br>
      <ion-button type="submit" (click)="send();">Enviar</ion-button>
    </form>
  </div>
</ion-content>
